.no-js {
  @media (max-width: 767px) {
    display: block;
  }
}

.accordion__body {
  @media (max-width: 767px) {
    display: none;
  }
}

.accordion__btn {
  @media (max-width: 767px) {
    background: url("../img/svg/plus.svg") no-repeat center right;

    &--open {
      background: url("../img/svg/minus.svg") no-repeat center right;
    }

    &--btn-nojs {
      background: none;
    }
  }
}

.open {
  @media (max-width: 767px) {
    display: block;
  }
}
