.address {
  width: 345px;

  @media (max-width: 1023px) {
    width: 320px;
  }

  @media (max-width: 767px) {
    padding: 0 25px;
  }
}

.address__list {
  display: flex;
  flex-direction: column;
}

.address__item {
  display: block;
  margin: 0 0 10px 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
  outline: none;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 135%;

    &:first-child {
      margin: 0 0 15px 0;
    }

    &:last-child {
      margin: 0 0 20px 0;
    }
  }

  &:hover {
    color: #00b3ff;
  }

  &:active {
    color: #018cc7;
  }

  &:focus {
    outline: 1px solid #018cc7;
  }
}
