.advantages__container {
  max-width: 1265px;
  margin: 0 auto;
  padding: 120px 20px;

  @media (max-width: 1023px) {
    padding: 80px 50px;
  }

  @media (max-width: 767px) {
    padding: 50px 25px;
  }
}

.advantages__list {
  max-width: 1222px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 31px 35px;

  @media (max-width: 1023px) {
    gap: 30px 29px;
  }

  @media (max-width: 767px) {
    grid-template-columns: none;
  }
}

.advatages__item {
  position: relative;
  cursor: pointer;
  outline: 1px solid #ebebeb;
  min-height: 300px;
  transition: 0.2s ease-in;

  &--active {
    background: #00b2ff;

    .advantages__item-content h2 {
      color: #f2f5f7;
    }

    .advantages__item-content p {
      color: #f2f5f7;
    }
  }

  &:hover {
    background: #00b2ff;

    .advantages__item-content h2 {
      color: #f2f5f7;
    }

    .advantages__item-content p {
      color: #f2f5f7;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: #00b2ff;
  }
}

.advantages__item-content {
  position: relative;
  padding: 97px 45px 35px 47px;

  &--stopwatch {
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      top: 40px;
      left: 47px;
      background: url("../img/svg/stopwatch.svg") no-repeat;

      @media (max-width: 1023px) {
        left: 45px;
      }
    }
  }

  &--hired {
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      top: 41px;
      left: 46px;
      background: url("../img/svg/hired.svg") no-repeat;

      @media (max-width: 1023px) {
        top: 40px;
      }
    }
  }

  &--detective {
    &::before {
      content: "";
      position: absolute;
      width: 36px;
      height: 35px;
      top: 39px;
      left: 42px;
      background: url("../img/svg/detective.svg") no-repeat;

      @media (max-width: 1023px) {
        top: 40px;
        left: 45px;
      }
    }
  }

  &--tag {
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      top: 39px;
      left: 46px;
      background: url("../img/svg/tag.svg") no-repeat;
    }
  }

  @media (max-width: 1023px) {
    padding: 92px 45px 32px 45px;
  }

  @media (max-width: 767px) {
    padding: 50px 30px 35px 30px;
  }
}

.advantages__item-content h2 {
  margin: 0 0 13px 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #00b2ff;

  @media (max-width: 1023px) {
    margin: 0 0 8px 0;
  }
}

.advantages__item-content p {
  margin: 0;
  line-height: 135%;
  color: #041827;
}
