.logo {
  padding: 1px 0 0 0;
  width: 215px;
  display: flex;
  margin-right: 160px;
  outline: none;

  &:focus {
    outline: 1px solid #358cbe;
  }

  @media (max-width: 1199.9px) {
    margin: 0;
  }
}

.logo__icon-logo {
  margin-right: 15px;
}
