.modal {
  width: 500px;
}

.modal__close-button {
  position: absolute;
  padding: 0;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  background-image: url("../img/svg/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in;

  &:hover {
    transform: rotate(360deg);
  }

  &:focus {
    outline: 1px solid #041427;
  }
}

.modal__content h2 {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 140.62%;
  color: #ffffff;
}

.modal__content p {
  margin: 0;
  padding: 15px 20px 0 0;
  line-height: 22px;
  color: #ffffff;
}
