.nav {
  width: 470px;

  @media (max-width: 1023px) {
    width: 220px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 0 25px;
  }
}

.nav__list-wrapper {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(2, 220px);

  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;
  }
}


.nav__list,
.nav__list-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  margin-bottom: 10px;

  @media (max-width: 767px) {
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.nav__link {
  display: block;
  font-family: "PT Mono", "Arial", sans-serif;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);
  transition: ease-in-out 0.3s;
  outline: none;

  &:hover {
    color: #00b3ff;
  }

  &:active {
    color: #018cc7;
  }

  &:focus {
    outline: 1px solid #018cc7;
  }
}
