.promo {
  background: linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%) no-repeat 0 0,
    url("../img/background/promo-background@1x.jpg") no-repeat center;
  background-size: cover;
}

.promo__container {
  max-width: 1265px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 1023px) {
    padding: 0;
  }
}

.promo__content {
  padding: 321px 0 280px 126px;

  @media (max-width: 1023px) {
    padding: 94px 50px 206px 50px;
  }

  @media (max-width: 767px) {
    padding: 91px 25px 192px 25px;
  }
}

.promo__content h2 {
  width: 720px;
  margin: 0 0 31px 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #f2f5f7;

  @media (max-width: 1023px) {
    width: 670px;
    font-size: 64px;
    line-height: 75px;
    margin: 0;
    letter-spacing: 0.3rem;
  }

  @media (max-width: 767px) {
    width: 100%;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.2rem;
    margin-bottom: 9px;
  }
}

.promo__content p {
  width: 685px;
  margin: 0 0 47px 0;
  font-size: 22px;
  line-height: 155%;
  color: #f2f5f7;

  @media (max-width: 1023px) {
    width: 100%;
    margin: 0 0 57px 0;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    margin: 0 0 46px 0;
  }
}

.promo__button {
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  background: #00b2ff;
  outline: none;
  cursor: pointer;

  @media (max-width: 1023px) {
    width: 411px;
    margin-left: 45px;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-left: 0;
  }

  &:hover {
    background: #008bc7;
  }

  &:active {
    background: #006590;
  }

  &:focus {
    outline: 1px solid #ffffff;
  }
}

.promo__button-decription {
  display: block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f5f7;
  padding: 15px 26px 18px 27px;
  transition: 0.3s ease-in;

  &--mobile {
    display: none;
  }

  @media (max-width: 1023px) {
    padding: 16px 25px 17px 25px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 30px;
    display: none;

    &--mobile {
      display: block;
    }
  }
}
