.section-site__wrapper {
  display: flex;
  gap: 30px;

  @media (max-width: 1023px) {
    flex-direction: column;
    gap: 0;
  }

  @media (max-width: 767px) {
    padding: 0 25px 20px 25px;
  }

  &--close {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.section-site__control-title {
  @media (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    padding: 20px 26px 20px 25px;
  }
}

.section-site__button {
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 15px;
  height: 15px;

  @media (max-width: 767px) {
    &--open {
      display: block;
      background: url("../img/svg/minus.svg") no-repeat;
    }

    &--close {
      display: block;
      background: url("../img/svg/plus.svg") no-repeat;
    }
  }
}

.section-site__control-title h2 {
  position: relative;
  margin: 0 0 20px 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;

  @media (max-width: 1023px) {
    margin: 0 0 23px 0;
  }

  @media (max-width: 767px) {
    margin: 0;
  }
}

.section-site__list {
  margin: 0;
  padding: 0;
  width: 220px;
}

.section-site__item {
  &:not(:last-child) {
    margin: 0 0 10px 0;

    @media (max-width: 1023px) {
      margin: 0 0 8px 0;
    }
  }

  @media (max-width: 1023px) {
    margin: 0 0 10px 0;
  }
}

.section-site__item a {
  display: block;
  line-height: 135%;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s ease-in;

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 25px;
  }

  &:hover {
    color: #358cbe;
  }

  &:active {
    color: #ffffff;
  }

  &:focus {
    outline: 1px solid #358cbe;
  }
}
