.social {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
  width: 160px;
  display: grid;
  grid-template-columns: repeat(3, 40px);
  column-gap: 15px;

  @media (max-width: 1023px) {
    width: 150px;
    padding: 5px 3px;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
  }
}

.social__item a {
  display: block;
  padding: 5px;
  width: 40px;
  height: 40px;
  outline: none;
  fill: #f8fdff;

  &:hover {
    fill: #5db5e8;
  }

  &:active {
    fill: #286c93;
  }

  &:focus {
    outline: 1px solid #358cbe;
  }
}
