.user-nav {
  max-width: 480px;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    max-width: 100px;
  }
}

.user-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.user-nav__list li {
  display: flex;

  &:not(:last-child) {
    margin-right: 28px;

    @media (max-width: 1023px) {
      margin-right: 20px;
    }
  }
}

.user-nav a {
  width: 225px;
  display: flex;
  padding: 12px 0 12px 0;
  outline: none;

  &:focus {
    outline: 1px solid #358cbe;
  }

  @media (max-width: 1023px) {
    width: 40px;
    display: block;
  }
}

.user-nav__link-icon {
  margin-right: 15px;
}

.user-nav span {
  line-height: 18px;
  color: #f2f5f7;

  @media (max-width: 1023px) {
    display: none;
  }
}
